@{
    ViewData["Title"] = "Upload Excel File";
}

<h1 class="upload-headers">Upload Excel File</h1>
<h3 class ="upload-headers">NOTE: Any previously uploaded spreadsheet will be removed in favor of the new upload</h3>

<form asp-action="UploadFile" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label for="fileInput">SELECT FILE:</label>
        <input type="file" id="fileInput" name="file" class="form-control" />
    <div class="form-group">
        <button type="submit" class="btn">Upload</button>
    </div>
</form>