@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button id="upload">UPLOAD</button>
    <div id="contents">
        @*MAKE THIS DIV BE AS WIDE AS CONTENTS*@
        <div id="header-container"> 
            <div class="header">ID</div>
            <div class="header">First Name</div>
            <div class="header">Last Name</div>
            <div class="header">Age</div>
            <div class="header">Status</div>
        </div>
    </div>
</div>
