* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
/*---------------------DEFAULT STYLES---------------------*/
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: rgb(0, 126, 167);
}
/*---------------------My Styles---------------------*/
#upload {
    width: 200px;
    height: auto;
    border-radius: 10px;
    background-color: rgb(173, 245, 255);
    margin: 10px;
    font-weight: bold;
}
#upload:hover{
    background: rgb(214, 250, 255);
}
#contents {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* This makes the child elements take the full width of the container */
    /*border: solid black;*/
    width: 100%;
    margin: 0 auto; /* Center the container */
}

#header-container {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%; /* Make sure the header takes the full width of #contents */
}

.header {
    border: 1px solid black;
    width: 20%; /* Distribute the width equally among the headers */
    height: 30px;
    flex: 1; /* This makes sure each header takes an equal portion of the available space */
    background: rgb(173, 245, 255);
}
.header:hover {
    /*cursor: pointer;*/
    background: rgb(214, 250, 255);
}
.header-a-tag{
    text-decoration:none;
    color: black;
    font-weight: bold;
}
.header-a-tag:hover{
    color: rgb(254, 109, 115);
}
#cell-container {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%; /* Make sure the header takes the full width of #contents */
}
.cell {
    border: 1px solid black;
    width: 20%;
    height: 30px;
    flex: 1;
    background: white;
}
#pagination {
    display: inline-block;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}
.page-buttons {
    margin-top: 10px;
    font-weight: bold;
    background-color: rgb(173, 245, 255);
    border-radius: 10px;
}
.page-buttons:hover {
    background: rgb(214, 250, 255);
}
.prev-next-buttons {
    width: 100px;
    height: auto;
    border-radius: 10px;
    background-color: rgb(173, 245, 255);
    margin: 10px;
}
.prev-next-buttons:hover {
    background: rgb(214, 250, 255);
}
.error-box {
    background: rgb(200, 83, 54);
    border-radius: 10px;
}
.error-text{
    color: white;
}